<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Formulario</title>
</head>
<body>
    <div class="container my-4">
        <form action="/enviar" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Tarea</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="Ingrese la Tarea">
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Correo Electronico</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Ingrese su Correo Electronico">
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Dificultad</label>
                <select class="form-control" name="diff" id="diff" placeholder="Escoja la Dificultad">
                    <option>Baja</option>
                    <option>Intermedio</option>
                    <option>Alta</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">Description de la tarea</label>
                <input type="text" class="form-control" name="desc" id="desc" placeholder="Enter the Todo Description">
            </div>
            <button type="submit" class="btn btn-outline-dark">Submit</button>
        </form>
    </div>
</body>
</html>